@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for the Grid block */

.grid::-webkit-scrollbar-track {
  display: none;
}
.grid::-webkit-scrollbar {
  height: 6px;
  background-color: #eeeded;
  border-radius: 15px;
}
.grid::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  height: 6px;
  border-radius: 15px;
}
